body {
  font-size: 6em;
  text-align: center;
  }


.count {
  margin: 0;
  font-weight: bold;
  color: #1d8ad8;
}

.wrap {
  margin-top: 20px;
  padding: 40px, 80px, 40px, 80px;
  background-color: #be77c4bd;
  font-weight: bold;
  color: #fff;
}

.typed {
  color: rgb(207, 249, 40);
}

.mistyped {
  background-color: rgb(11, 103, 189);
}

.type-count {
  color: rgb(58, 232, 203);
  font-weight: bold;
  font-size: 95pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
